h1{
    color:white;
    background-color: black;
}

p{
    color:green;
    background-color: black;
}

h2{
    color:orangered;
    background-color: black;
}

p2{
    color:palevioletred;
    background-color: black;
}
